@import "normalize.css" @import
  url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  padding: 2rem;
  font-display: swap;
  font-family: "JetBrains Mono", monospace, ui-monospace;
  color: #f2f4f8;
  font-style: italic;
  background-color: #0B0E14;
  text-align: left;
}

#logo {
  font-size: 32px;
  color: #FFB454;
  text-align: right;
}

a {
  color: #FFB454;
}

footer {
  padding: 1rem;
  text-align: center;
  bottom: 0;
}

#info {
  padding: 1rem;
  background-color: #11151C;
}

#blogs {
  padding: 1rem;
}

#bar {
  padding: 1rem;
  background-color: #11151C;
  text-align: left;
}

#content {
  padding: 1rem;
  background-color: #11151C;
}
