@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  background-color: #161616;
}

html {
  background-color: #161616;
}

body {
  padding: 2rem;
  background-color: #161616;
  font-family: "JetBrains Mono", monospace;
  text-align: left;
}

pre {
  font-size: 32px;
  color: #3ddbd9;
}

a {
  color: #42be65;
}

footer {
  bottom: 0;
}

#info {
  padding: 1rem;
  background-color: #262626;
}

#blogs {
  padding: 1rem;
}
