body {
  padding: 2rem;
  background-color: #161616;
  font-family: "JetBrains Mono", monospace;
}

.header {
  padding: 2rem;
  background-color: #262626;
  color: #ee5396;
}

#about {
  color: white;
}

.content {
  padding: 2rem;
  background-color: #393939;
  color: white;
}

#Updates {
  text-align: left;
  padding: 4px;
}

a {
  color: #ff7eb6;
}

.footer {
  color: white;
  padding: 2rem;
  position: absolute;
  bottom: 0;
}
